openapi: 3.0.1
info:
  title: PeoplesPay API Documentation
  description: PeoplesPay API endpoints, payloads and relevant notes.
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://peoplespay.com.gh/peoplepay
security: []
paths:
  /hub/token/get:
    post:
      summary: Get a token
      description: Returns a token for an operation (collection or disbursement)
      security: []
      requestBody:
        description: Specifed operation for given merchant and API user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeOfTransactionToken'
        required: true
      responses:
        '200':
          description: Token generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTokenResponse'
        '400':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/collectmoney:
    post:
      summary: Collect money (via momo)
      description: Initiates a request to pay, sent to the specified mobile number
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MomoCollections'
      responses:
        '200':
          description: Response for successfully received request to collect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
  /hub/collectmoney/card:
    post:
      summary: Collect money (via card)
      description: Initiates a request to pay, to the provided bank card
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCollections'
      responses:
        '200':
          description: Response for successfully received request to collect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
  /hub/disburse:
    post:
      summary: Disburse money
      description: Initiates a disbursement request (to phone number or bank account)
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disbursements'
      responses:
        '200':
          description: Response for successfully received request to disburse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
  /merchants/login:
    post:
      security: []
      summary: Log in (merchant)
      description: Log in as merchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantLogin'
      responses:
        '200':
          description: Logged in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulMerchantLoginResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/transactions/get/{id}:
    get:
      description: Retrieves a transaction based on the supplied ID
      summary: Get transaction by ID
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of transaction to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedTransactionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/summary/filter:
    get:
      summary: Get transaction history
      description: Retrieves transaction history for current merchant
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: query
          description: ID of the merchant account
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          description: Start date of transaction history filter
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: End data of transaction history filter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transactions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedAllTransactionsResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/get-balance:
    get:
      summary: Get current balance
      description: Retrieves balance for current merchant
      security:
        - adminAuth: []
      responses:
        '200':
          description: Balance retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBalanceResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/get-services:
    get:
      summary: Get biller services
      description: Retrieves all biller services.
      security:
        - adminAuth: []
      responses:
        '200':
          description: Billers retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBillersResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/lookup:
    post:
      summary: Look up account
      description: Look up account per specific biller, by reference.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillAccountLookup'
      responses:
        '200':
          description: Bill service account details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBillerAccountResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/pay:
    post:
      summary: Pay bill
      description: Initiate a bill payment, after lookup.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPayment'
      responses:
        '200':
          description: Bill payment succesfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPaymentInitiatedResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/purchase-airtime:
    post:
      summary: Purchase airtime
      description: Initiate an airtime purchase
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirtimePurchase'
      responses:
        '200':
          description: Bill payment succesfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/ecg/check-meter-status:
    get:
      summary: Check meter status
      description: Retrieves meter live status.
      security:
        - adminAuth: []
      parameters:
        - name: meterId
          in: path
          description: ID of the meter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Meter status successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedECGMeterStatusResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/ecg/get-meters-by-phone-number:
    get:
      summary: Get meters by phone number
      description: Retrieves meters linked to specified phone number.
      security:
        - adminAuth: []
      parameters:
        - name: phoneNumber
          in: path
          description: Saved phone number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Meters successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedECGMetersResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/get-data-bundles:
    get:
      summary: Get data bundles by network
      description: Retrieves data bundles for a given network.
      security:
        - adminAuth: []
      parameters:
        - name: phoneNumber
          in: path
          description: Phone number
          required: true
          schema:
            type: string
        - name: network
          in: path
          description: Mobile network
          required: true
          schema:
            type: string
            enum:
              - MTN
              - Telecel
              - AT
      responses:
        '200':
          description: Data bundles successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedDataBundlesResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/purchase-data-bundle:
    post:
      summary: Purchase data bundle
      description: Initiates data bundle purchase.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirtimePurchase'
      responses:
        '200':
          description: Data bundle purchase successfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/get/{id}:
    get:
      summary: Get webhook event
      description: Retrieves a webhook event
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook event retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrievedEventResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/get/{merchant}/{page}:
    get:
      summary: Get all webhook events
      description: Retrieves all webhook events for a merchant
      security:
        - adminAuth: []
      parameters:
        - name: merchant
          in: path
          description: Merchant ID
          required: true
          schema:
            type: string
        - name: page
          in: path
          description: Page of response
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Webhook events retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrievedEventsResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/fire/{id}:
    get:
      summary: Fire webhook event
      description: Fires a webhook event delivery
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook event delivery initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FiredEventResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TransactionToken:
      required:
        - merchantId
        - apikey
      type: object
      properties:
        merchantId:
          description: The merchant's merchantId
          type: string
        apikey:
          description: The apikey for the app to collect through
          type: string
    TypeOfTransactionToken:
      allOf:
        - $ref: '#/components/schemas/TransactionToken'
        - required:
            - operation
          type: object
          properties:
            operation:
              description: The kind of operation to perform
              type: string
              enum:
                - DEBIT
                - CREDIT
    Collections:
      required:
        - amount
        - account_name
        - description
        - callbackUrl
      type: object
      properties:
        amount:
          description: Total amount to collect
          type: number
          format: float
        account_name:
          description: Account holder name
          type: string
        description:
          description: Brief description of the transaction
          type: string
        callbackUrl:
          type: string
          description: The URL that will receive webhook containing transaction status.
        externalTransactionId:
          type: string
          description: Optional ID the requester can pass in to track the transaction
    MomoCollections:
      allOf:
        - $ref: '#/components/schemas/Collections'
        - required:
            - account_number
            - account_issuer
          type: object
          properties:
            account_number:
              description: Account number
              type: string
            account_issuer:
              description: Account number's network provider
              type: string
              enum:
                - mtn
                - vodafone
                - airteltigo
    CardCollections:
      allOf:
        - $ref: '#/components/schemas/Collections'
        - required:
            - card
            - clientRedirectUrl
          type: object
          properties:
            card:
              description: Object containing card details
              type: object
              properties:
                cvc:
                  type: string
                  maximum: 3
                  description: Security code
                expiry:
                  type: string
                  description: Card expiry date; e.g. 5/2025
                number:
                  type: string
                  description: Card number
            clientRedirectUrl:
              description: URL to redirect to upon completed card payment
              type: string
    Disbursements:
      required:
        - amount
        - account_name
        - description
        - account_number
        - account_issuer
        - account_type
        - callbackUrl
      type: object
      properties:
        amount:
          description: Total amount to disburse
          type: number
          format: float
        account_name:
          description: Account holder name
          type: string
        description:
          description: Brief description of the transaction
          type: string
        callbackUrl:
          type: string
          description: The URL that will receive webhook containing transaction status.
        account_number:
          type: string
          description: The recipient's account number (phone number or bank account)
        externalTransactionId:
          type: string
          description: Custom transaction ID to track transaction
        account_issuer:
          type: string
          description: Institution the recipient's account belongs to
          enum:
            - mtn
            - vodafone
            - airteltigo
        account_type:
          type: string
          description: The type of account; momo or bank
          enum:
            - bank
            - momo
    BillAccountLookup:
      type: object
      properties:
        billServiceProviderId:
          type: string
          description: The ID of the designated service provider
        billServiceProductId:
          type: string
          description: The ID of the designated service provider's product
        accountReference:
          type: string
          description: The reference for the account the payment is for
    BillPayment:
      type: object
      required:
        - accountReference
        - amount
        - lastMethod
        - sessionId
        - phoneNumber
        - description
        - payerName
        - externalTransactionId
        - billServiceProviderId
        - billServiceProductId
      properties:
        accountReference:
          type: string
          description: The reference of the account the payment is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        lastMethod:
          type: string
          enum: ["lookup", "commit"]
          description: Specify the most recently called function in this session
        sessionId:
          type: string
          description: ID for current session
        phoneNumber:
          type: string
          description: Phone number of payer
        description:
          type: string
          description: Description for bill payment transaction
        payerName:
          type: string
          description: Name of entity performing payment
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
        billServiceProviderId:
          type: string
          description: The ID of the designated service provider
        billServiceProductId:
          type: string
          description: The ID of the designated service provider's product
    AirtimePurchase:
      type: object
      required:
        - accountReference
        - amount
        - network
        - description
        - externalTransactionId
      properties:
        accountReference:
          type: string
          description: The phoneNumber of the account the purchase is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        network:
          type: string
          enum: ["MTN", "Telecel", "AT"]
          description: Specify network for phone number
        description:
          type: string
          description: Description for bill payment transaction
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
    DataBundlePurchase:
      type: object
      required:
        - accountReference
        - amount
        - network
        - description
        - externalTransactionId
      properties:
        accountReference:
          type: string
          description: The phoneNumber of the account the purchase is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        network:
          type: string
          enum: ["MTN", "Telecel", "AT"]
          description: Specify network for phone number
        bundle:
          type: string
          description: Data bundle name
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
    MerchantLogin:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    SuccessfulTokenResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: string
    SuccessfulTransactionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            code:
              type: string
              enum:
                - '00'
                - '01'
                - '02'
            transactionId:
              type: string
              description: The ID of the performed transaction
            date:
              type: string
              description: The `createdAt` timestamp of the transaction
            externalTransactionId:
              type: string
    RetrievedTransactionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            code:
              type: string
              enum:
                - '00'
                - '01'
                - '02'
            status:
              type: string
              enum:
                - paid
                - pp
                - failed
            transactionId:
              type: string
              description: The current transaction's ID
            reference:
              type: string
              description: The current transaction's reference
    RetrievedBalanceResponse:
      type: object
      properties:
        success:
          type: boolean
        currentBalance:
          type: number
    RetrievedAllTransactionsResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                enum:
                  - '00'
                  - '01'
                  - '02'
              status:
                type: string
                enum:
                  - paid
                  - pp
                  - failed
              transactionId:
                type: string
                description: The current transaction's ID
              reference:
                type: string
                description: The current transaction's reference
    RetrievedBillersResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              billServiceProviderId:
                type: string
              billServiceProviderName:
                type: string
              billServiceProductId:
                type: string
              billServiceProductName:
                type: string
              billServiceProviderLogo:
                type: string
    RetrievedBillerAccountResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object
    BillPaymentInitiatedResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object
    AirtimePurchaseInitiatedResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object 
    RetrievedECGMeterStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        meterStatus:
          type: boolean 
    RetrievedECGMetersResponse:
      type: object
      properties:
        success:
          type: boolean
        meters:
          type: array 
    RetrievedDataBundlesResponse:
      type: object
      properties:
        success:
          type: boolean
        network:
          type: string
        bundles:
          type: array
          items:
            type: object
            properties:
              Display:
                type: string
              Value:
                type: string
              Amount:
                type: number
    SuccessfulMerchantLoginResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data: {}
            token:
              type: string
    RetrievedEventResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            _id:
              type: string
            eventType:
              type: string
            createdAt:
              type: string
            eventData: {}
            deliveryStatus: 
              type: string
              enum:
                - DELIVERY_ATTEMPTED
                - DELIVERED
                - FAILED
                - AWAITING_DELIVERY
            destination:
              type: string
            customerId:
              type: string
            customerType:
              type: string
              enum:
                - merchants
                - customer
            lastAttemptedAt:
              type: string
            numberOfAttempts:
              type: integer
              format: int32
    RetrievedEventsResponse:
      type: array
      items:
        type: object
        properties:
          success:
            type: boolean
          message:
            type: string
          data:
            type: object
            properties:
              _id:
                type: string
              eventType:
                type: string
              createdAt:
                type: string
              eventData: {}
              deliveryStatus: 
                type: string
                enum:
                  - DELIVERY_ATTEMPTED
                  - DELIVERED
                  - FAILED
                  - AWAITING_DELIVERY
              destination:
                type: string
              customerId:
                type: string
              customerType:
                type: string
                enum:
                  - merchants
                  - customer
              lastAttemptedAt:
                type: string
              numberOfAttempts:
                type: integer
                format: int32
    FiredEventResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    EventError:
      required:
        - error
        - message
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    adminAuth:
      type: http
      scheme: bearer
    operationAuth:
      type: http
      scheme: bearer
