openapi: 3.1.0
info:
  title: PeoplesPay API Documentation
  description: PeoplesPay API endpoints, payloads and relevant notes.
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://peoplespay.com.gh/peoplepay
security: []
webhooks:
  transaction.status.updated:
    post:
      summary: Webhook notification sent on transaction status update
      requestBody:
        description: testing
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeOfTransactionToken'
        required: true
      responses:
        '200':
          description: Token generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTokenResponse'
paths:
  /hub/token/get:
    post:
      summary: Get a token
      security: []
      requestBody:
        description: Specifed operation for given merchant and API user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypeOfTransactionToken'
        required: true
      responses:
        '200':
          description: Successfully generated token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTokenResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/collectmoney:
    post:
      summary: Collect money (via momo)
      description: Initiates a request to pay, sent to the specified mobile number
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MomoCollections'
      responses:
        '200':
          description: Successfully received request to collect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorizedToken'
  /hub/collectmoney/card:
    post:
      summary: Collect money (via card)
      description: Initiates a request to pay, to the provided bank card
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCollections'
      responses:
        '200':
          description: Successfully received request to collect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiatedCardCollectionResponse'
        '500':
          description: Received request to collect, but transaction failed.
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/FailedCardCollectionResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorizedToken'
  /api/checkout/redirect/init:
    post:
      summary: Collect money (via hosted checkout)
      description: Initiates a request to pay, via an online checkout page.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutCollections'
      responses:
        '200':
          description: Response for successfully received request to collect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
  /hub/disburse:
    post:
      summary: Disburse money
      description: Initiates a disbursement request (to phone number or bank account)
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Disbursements'
      responses:
        '200':
          description: Response for successfully received request to disburse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorizedToken'

  /hub/remittance/terminate:
    post:
      summary: Terminate remittance
      description: Initiates remittance termination, by sending the requested amount to the target recipient.
      security:
        - operationAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemittanceTermination'
      responses:
        '200':
          description: Response for successfully received request to terminate remittance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
  /merchants/login:
    post:
      security: []
      summary: Log in (merchant)
      description: Log in as merchant user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantLogin'
      responses:
        '200':
          description: Logged in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulMerchantLoginResponse'
        '401':
          description: Invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsuccessfulMerchantLoginResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/transactions/get/{id}:
    get:
      description: Retrieves a transaction based on the supplied ID.
      summary: Get transaction by ID
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of transaction to retrieve. Can be a PeoplesPay transaction ID or an `externalTransactionId`.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedTransactionResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNotFoundResponse'
  /hub/summary/filter:
    get:
      summary: Get transaction history
      description: Retrieves transaction history for current merchant
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: query
          description: ID of the merchant account
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          description: Start date of transaction history filter
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: End data of transaction history filter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transactions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedAllTransactionsResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/get-balance:
    get:
      summary: Get current balance
      description: Retrieves balance for currently logged in merchant account.
      security:
        - adminAuth: []
      responses:
        '200':
          description: Balance successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBalanceResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
  /merchants/profile:
    get:
      summary: Get logged in merchant
      description: Retrieves details for currently logged in merchant
      security:
        - adminAuth: []
      responses:
        '200':
          description: Merchant successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedMerchantResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Error when retrieving merchant details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /merchants/users:
    get:
      summary: Get merchant users
      description: Retrieves user details for currently logged in merchant
      security:
        - adminAuth: []
      responses:
        '200':
          description: Merchant successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedMerchantUsersResponse'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '500':
          description: Error when retrieving merchant users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/merchant/enquiry:
    post:
      summary: Recipient name enquiry
      description: Retrieves name of target recipient.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameEnquiry'
      responses:
        '200':
          description: Name successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulNameEnquiryResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
  /hub/bills/get-services:
    get:
      summary: Get biller services
      description: Retrieves all biller services.
      security:
        - adminAuth: []
      responses:
        '200':
          description: Billers retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBillersResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/lookup:
    post:
      summary: Look up account
      description: Look up account per specific biller, by reference.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillAccountLookup'
      responses:
        '200':
          description: Bill service account details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedBillerAccountResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/pay:
    post:
      summary: Pay bill
      description: Initiate a bill payment, after lookup.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPayment'
      responses:
        '200':
          description: Bill payment succesfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPaymentInitiatedResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/purchase-airtime:
    post:
      summary: Purchase airtime
      description: Initiate an airtime purchase
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirtimePurchase'
      responses:
        '200':
          description: Bill payment succesfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/ecg/check-meter-status/{meterId}:
    get:
      summary: Check meter status
      description: Retrieves meter live status.
      security:
        - adminAuth: []
      parameters:
        - name: meterId
          in: path
          description: ID of the meter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Meter status successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedECGMeterStatusResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/ecg/get-meters-by-phone-number/{phoneNumber}:
    get:
      summary: Get meters by phone number
      description: Retrieves meters linked to specified phone number.
      security:
        - adminAuth: []
      parameters:
        - name: phoneNumber
          in: path
          description: Saved phone number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Meters successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedECGMetersResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/get-data-bundles:
    get:
      summary: Get data bundles by network
      description: Retrieves data bundles for a given network.
      security:
        - adminAuth: []
      parameters:
        - name: phoneNumber
          in: query
          description: Phone number
          required: true
          schema:
            type: string
        - name: network
          in: query
          description: Mobile network
          required: true
          schema:
            type: string
            enum:
              - MTN
              - Telecel
              - AT
      responses:
        '200':
          description: Data bundles successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievedDataBundlesResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hub/bills/purchase-data-bundle:
    post:
      summary: Purchase data bundle
      description: Initiates data bundle purchase.
      security:
        - adminAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataBundlePurchase'
      responses:
        '200':
          description: Data bundle purchase successfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulTransactionResponse'
        '400':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/get/{id}:
    get:
      summary: Get webhook event
      description: Retrieves a webhook event
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook event retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrievedEventResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/get/{merchant}/{page}:
    get:
      summary: Get all webhook events
      description: Retrieves all webhook events for a merchant.
      x-mint:
        content: "<Note>Event record pages are 100 objects long.</Note>"
      security:
        - adminAuth: []
      parameters:
        - name: merchant
          in: path
          description: Merchant ID
          required: true
          schema:
            type: string
        - name: page
          in: path
          description: Pagination; offset in results response. Page size is 100.
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Webhook events retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrievedEventsResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/fire/{id}:
    get:
      summary: Fire webhook event
      description: Fires a webhook event delivery
      security:
        - adminAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the event
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook event delivery initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '500':
          description: Webhook event error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventError'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthenticated request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
components:
  schemas:
    TransactionToken:
      required:
        - merchantId
        - apikey
      type: object
      properties:
        merchantId:
          description: The merchant's merchantId
          type: string
        apikey:
          description: The apikey for the app to collect through
          type: string
    TypeOfTransactionToken:
      allOf:
        - $ref: '#/components/schemas/TransactionToken'
        - required:
            - operation
          type: object
          properties:
            operation:
              description: The kind of operation to perform
              type: string
              enum:
                - DEBIT
                - CREDIT
    Collections:
      required:
        - amount
        - account_name
        - description
        - callbackUrl
      type: object
      properties:
        amount:
          description: Total amount to collect
          type: number
          format: float
        account_name:
          description: Account holder name
          type: string
        description:
          description: Brief description of the transaction
          type: string
          pattern: '^[a-zA-Z0-9.-_,]{0,50}$'
        callbackUrl:
          type: string
          description: The URL that will receive webhook containing transaction status.
        externalTransactionId:
          type: string
          description: Optional ID the requester can pass in to track the transaction
        account_type:
          type: string
          default: "momo"
          description: Type of payment account
    MomoCollections:
      allOf:
        - $ref: '#/components/schemas/Collections'
        - required:
            - account_number
            - account_issuer
          type: object
          properties:
            account_number:
              description: Account number
              type: string
              pattern: '^[0-9]{10}$'
            account_issuer:
              description: Account number's network provider
              type: string
              enum:
                - mtn
                - vodafone
                - airteltigo
    CardCollections:
      allOf:
        - $ref: '#/components/schemas/Collections'
        - required:
            - card
            - clientRedirectUrl
          type: object
          properties:
            card:
              description: Object containing card details
              type: object
              properties:
                cvc:
                  type: string
                  maximum: 3
                  description: Security code
                expiry:
                  type: string
                  description: Card expiry date; e.g. 5/2025
                number:
                  type: string
                  description: Card number
            clientRedirectUrl:
              description: URL to redirect to upon completed card payment
              type: string
    CheckoutCollections:
      allOf:
        - $ref: '#/components/schemas/Collections'
        - required:
            - clientRedirectUrl
          type: object
          properties:
            clientRedirectUrl:
              description: URL to redirect to upon completed collection
              type: string
    Disbursements:
      required:
        - amount
        - account_name
        - description
        - account_number
        - account_issuer
        - account_type
        - callbackUrl
      type: object
      properties:
        amount:
          description: Total amount to disburse
          type: number
          format: float
        account_name:
          description: Account holder name
          type: string
        description:
          description: Brief description of the transaction
          type: string
        callbackUrl:
          type: string
          description: The URL that will receive webhook notification containing transaction status.
        account_number:
          type: string
          description: The recipient's account number (phone number or bank account number).
        externalTransactionId:
          type: string
          description: Custom transaction ID to track transaction.
        account_issuer:
          type: string
          description: Institution the recipient's account belongs to. [Full list of potential values.](/concepts/account-issuers)
          enum:
            - mtn
            - vodafone
            - airteltigo
        account_type:
          type: string
          description: The type of account; momo or bank
          enum:
            - bank
            - momo
    RemittanceTermination:
      type: object
      required:
        - payerName
        - recipientName
        - recipientAddress
        - payerPhoneNumber
        - recipientPhoneNumber
        - countryOfOrigin
        - recipientGender
        - originalCurrency
        - originalAmount
        - destinationAmount
        - description
        - externalTransactionId
        - accountNumber
        - accountName
        - accountIssuer
        - accountType
        - callbackUrl
      properties:
        payerName:
          type: string
          description: Name of the payer initiating the remittance
        recipientName:
          type: string
          description: Name of the recipient receiving the funds
        recipientAddress:
          type: string
          description: Recipient's complete address
        payerPhoneNumber:
          type: string
          description: Payer's phone number
        recipientPhoneNumber:
          type: string
          description: Recipient's phone number
        countryOfOrigin:
          type: string
          description: Currency origin country code [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          maxLength: 2
        recipientGender:
          type: string
          enum:
            - male
            - female
          description: Recipient's gender (case-sensitive enumeration)
        originalCurrency:
          type: string
          format: currency
          description: Original transaction currency code [(ISO 4217)](https://en.wikipedia.org/wiki/ISO_4217)
        originalAmount:
          type: number
          format: positive
          description: Original transaction amount (float)
        destinationAmount:
          type: number
          format: positive
          description: Destination/converted amount (float)
        description:
          type: string
          description: Transaction description or purpose
        externalTransactionId:
          type: string
          description: Client-provided transaction identifier
        accountNumber:
          type: string
          description: Payment destination account number (format specific to bank/momo)
        accountName:
          type: string
          minLength: 3
          maxLength: 50
          description: Name associated with accountNumber
        accountIssuer:
          type: string
          description: Issuer of the account (bank name or mobile money provider)
        accountType:
          type: string
          enum:
            - momo
            - bank
          default: momo
          description: Payment account type (default; momo)
        callbackUrl:
          type: string
          format: uri
          description: Endpoint for receiving transaction status updates
    BillAccountLookup:
      type: object
      required:
        - billServiceProductId
        - billServiceProviderId
        - accountReference
      properties:
        billServiceProviderId:
          type: string
          description: The ID of the designated service provider
        billServiceProductId:
          type: string
          description: The ID of the designated service provider's product
        accountReference:
          type: string
          description: The reference for the account the payment is for
    BillPayment:
      type: object
      required:
        - accountReference
        - amount
        - lastMethod
        - sessionId
        - phoneNumber
        - description
        - payerName
        - externalTransactionId
        - billServiceProviderId
        - billServiceProductId
        - billServiceProductName
        - billServiceProviderName
      properties:
        accountReference:
          type: string
          description: The reference of the account the payment is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        lastMethod:
          type: string
          enum: ["lookup", "commit"]
          description: Specify the most recently called function in this session
        sessionId:
          type: string
          description: ID for current session
        phoneNumber:
          type: string
          description: Phone number of payer
        description:
          type: string
          description: Description for bill payment transaction
        payerName:
          type: string
          description: Name of entity performing payment
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
        billServiceProviderId:
          type: string
          description: The ID of the designated service provider
        billServiceProductId:
          type: string
          description: The ID of the designated service provider's product
        billServiceProviderName:
          type: string
          description: The name of the designated service provider
        billServiceProductName:
          type: string
          description: The name of the designated service provider's product
    AirtimePurchase:
      type: object
      required:
        - accountReference
        - amount
        - network
        - description
        - externalTransactionId
      properties:
        accountReference:
          type: string
          description: The phoneNumber of the account the purchase is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        network:
          type: string
          enum: ["MTN", "Telecel", "AT"]
          description: Specify network for phone number
        description:
          type: string
          description: Description for bill payment transaction
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
    DataBundlePurchase:
      type: object
      required:
        - accountReference
        - amount
        - network
        - description
        - externalTransactionId
        - bundle
        - callbackUrl
      properties:
        accountReference:
          type: string
          description: The phoneNumber of the account the purchase is for
        amount:
          type: number
          description: Cedi (GHS) amount of the payment
        network:
          type: string
          enum: ["MTN", "Telecel", "AT"]
          description: Specify network for phone number
        bundle:
          type: string
          description: Data bundle name
        externalTransactionId:
          type: string
          description: Third-party ID to track transaction
        callbackUrl:
          type: string
          description: HTTP POST endpoint to receive notifications
    MerchantLogin:
      type: object
      properties:
        email:
          type: string
          description: Email address of merchant user
        password:
          description: Merchant user password
          format: password
    NameEnquiry:
      type: object
      required:
        - account_number
        - account_issuer
        - account_type
      properties:
        account_number:
          type: string
          description: The number of the recipient account 
        account_issuer:
          type: string
          description: Code for account issuer (see our [issuer reference](/concepts/account-issuers))
        account_type:
          type: string
          enum: ["bank", "momo"]
          description: Type of recipient accouunt
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the requested operation was successful.
        message:
          type: string
          description: Accompanying message describing request outcome.
    SuccessfulTokenResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: string
              description: "Authentication token for transaction execution. `TTL: 60 minutes`"
    SuccessfulTransactionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            code:
              deprecated: true
              type: string
              enum:
                - '00'
                - '01'
                - '02'
              description: PeoplesPay code representation of request outcome. Deprecated; do not use.
            transactionId:
              type: string
              description: The PeoplesPay ID of the initiated transaction.
            date:
              type: string
              description: The `createdAt` ISO timestamp of the transaction.
            externalTransactionId:
              type: string
              description: The transaction ID you supplied for tracking.
    InitiatedCardCollectionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessfulTransactionResponse'
        - type: object
          properties:
            redirectUrl:
              type:
                - string
              description: HTML returned by card gateway. Render this for your end-user to complete the 3D Secure challenge.
            redirectType:
              type:
                - string
              default: DIV
              enum:
                - DIV
                - URL
              description: Type of redirect content returned by card gateway.
    FailedCardCollectionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessfulTransactionResponse'
        - type: object
          properties:
            redirectUrl:
              type:
                - "null"
              description: HTML returned by card gateway. Render this for your end-user to complete the 3D Secure challenge.
              default: "null"
            redirectType:
              type:
                - "null"
              default: "null"
              enum:
                - DIV
                - URL
              description: Type of redirect content returned by card gateway.
    RetrievedTransactionResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            code:
              type: string
              enum:
                - '00'
                - '01'
                - '02'
              description: PeoplesPay code representation of request outcome. Deprecated; do not use.
              deprecated: true
            status:
              type: string
              enum:
                - paid
                - pp
                - failed
                - pc
                - TCS-PENDING
              description: Transaction [status](/concepts/transactions).
            transactionId:
              type: string
              description: The PeoplesPasy ID of the transaction being looked up. Alternatively, it is the PeoplesPay ID of the first returned transaction if multiple transactions were retrieved i.e. the `externalTransactionId` passed matches more than one record.
            reference:
              type: string
              description: Generic transaction reference.
              deprecated: true
            data:
              type: object<[Transaction]()>
              description: "Contains [`Transaction`](/api-reference/transactions) object."
    RetrievedBalanceResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates success of the request.
        currentBalance:
          type: number
          description: Current merchant account balance, in floating point format.
    RetrievedAllTransactionsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: Null `_id` field.
                  count:
                    type: number
                    description: Count of transactions.
                  totalAmount:
                    type: number
                    description: Monetary actual value of transactions (sans charges).
                  amountWithCharges:
                    type: number
                    description: Monetary gross value of transactionsa (with charges).
                  charges:
                    type: number
                    description: Monetary value of applied charges.
                  openingBalance:
                    type: number
                    description: The current transaction's reference
                  transactions:
                    type: array
                    description: "[Transaction object](/api-reference/transactions) record array"
                    items:
                      type: object<Transaction>
            csvFilePath:
              type: string
              description: Single-use file path to generated data file.
    RetrievedBillersResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              billServiceProviderId:
                type: string
              billServiceProviderName:
                type: string
              billServiceProductId:
                type: string
              billServiceProductName:
                type: string
              billServiceProviderLogo:
                type: string
    RetrievedBillerAccountResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object
    BillPaymentInitiatedResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object
    AirtimePurchaseInitiatedResponse:
      type: object
      properties:
        success:
          type: boolean
        accountDetails:
          type: object 
    RetrievedECGMeterStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        meterStatus:
          type: boolean 
    RetrievedECGMetersResponse:
      type: object
      properties:
        success:
          type: boolean
        meters:
          type: array
          items:
            type: object
    RetrievedDataBundlesResponse:
      type: object
      properties:
        success:
          type: boolean
        network:
          type: string
        bundles:
          type: array
          items:
            type: object
            properties:
              Display:
                type: string
              Value:
                type: string
              Amount:
                type: number
    SuccessfulMerchantLoginResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/User"
            token:
              type: string
              description: "Merchant user login token. `TTL: 60 minutes`"
    UnsuccessfulMerchantLoginResponse:
      type: object
      properties:
        success:
          type: boolean
          default: false
          description: Indicates whether request operation was successful.
        message:
          type: string
          examples: "Wrong Credentials"
          description: Accompanying response message.
    SuccessfulNameEnquiryResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: string
              description: The name of the account holder.
    RetrievedEventResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - $ref: "#/components/schemas/Event"
    RetrievedEventsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Event"
    RetrievedMerchantResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Merchant"
    RetrievedMerchantUsersResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/User"
    EventError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          description: HTTP code for error.
        error:
          type: string
          description: HTTP code message for error.
        message:
          type: string
          description: PeoplesPay-generated error string.
    ErrorUnauthorized:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          description: HTTP code for error.
        error:
          type: string
          description: HTTP code message for error.
        message:
          type: string
          description: PeoplesPay-generated error string.
        attributes:
          type: object
    ErrorUnauthorizedToken:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          description: HTTP code for error.
        error:
          type: string
          description: HTTP code message for error.
        message:
          type: string
          description: PeoplesPay-generated error string.
          examples:
            - Expired token.
            - Invalid token.
        attributes:
          type: object

    User:
      type: object
      description: A user account with an optional reference to an associated merchant.
      properties:
        _id:
          type: string
          description: Unique identifier for the user.
        email:
          type: string
          format: email
          description: The user's email address.
        name:
          type: string
          description: Display name of the user.
        phone:
          type: string
          description: Contact phone number of the user.
        isActive:
          type: boolean
          description: Whether the user account is currently active.
        merchantId:
          $ref: '#/components/schemas/Merchant'
        permissions:
          type: array
          items:
            type: string
          description: List of permissions granted to the user.
        isPasswordChanged:
          type: boolean
          description: Indicates whether the user has changed their initial password.
        lastSeen:
          type: string
          format: date-time
          description: Timestamp of the user's most recent activity.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the user account was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the user account was last updated.
        __v:
          type: integer
          description: Version key for optimistic locking.
    Merchant:
      type: object
      description: A merchant record with business profile, KYC details, account status, and payment channel configuration.
      required:
        - _id
        - merchant_tradeName
        - envMode
      properties:
        _id:
          type: string
          description: Unique MongoDB ObjectId for the merchant record.
        merchantNickName:
          type: string
          nullable: true
          description: Optional short display name for the merchant.
        merchant_tradeName:
          type: string
          description: Registered trade name of the merchant business.
          examples: BSYSTEMS PEOPLESPAY
        # --- Business identity / KYC ---
        businessPhone:
          type: string
          description: Primary business contact phone.
          examples: "0302 254340"
        email:
          type: string
          format: email
          description: Primary business contact email.
          examples: info@bsystemslimited.com
        registrationNumber:
          type: string
          description: Official business registration number.
          examples: CS433052014
        idNumber:
          type: string
          description: Government-issued identification number for the merchant.
          examples: GHA-725794423-3
        address:
          type: string
          description: Physical business address.
          examples: Mango Lane, Asylum Down
        location:
          type: string
          description: General locality or city of the business.
          examples: Asylum Down, Accra
        lineOfBusiness:
          type: string
          description: Primary industry or trade category.
          examples: Agency Banking
        # --- Account status flags ---
        submitted:
          type: boolean
          description: Whether onboarding details have been submitted.
          examples: true
        decline:
          type: boolean
          description: Whether the merchant application has been declined.
          examples: false
        active:
          type: boolean
          description: Whether the merchant account is currently active.
          examples: true
        # --- Payment channel configuration ---
        ussdCode:
          type: string
          description: USSD shortcode assigned to the merchant.
          examples: "*421*2#"
        isUSSDActive:
          type: boolean
          description: Whether the USSD channel is enabled.
          examples: true
        cardDebitChannel:
          type: string
          description: Card debit processing channel.
          examples: GTBLocal
        momoDebitChannel:
          type: string
          description: Mobile money debit processing channel.
          examples: TELCO
        # --- Financial limits ---
        creditLimit:
          type: number
          description: Maximum credit extended to the merchant.
          examples: 10000
        debitLimit:
          type: number
          description: Maximum aggregate debit allowed per period.
          examples: 10000
        disbursementCharge:
          type: number
          description: Fee applied per disbursement transaction.
          examples: 0
        minimumAmount:
          type: number
          description: Minimum transaction amount permitted.
          examples: 0
        # --- Timestamps ---
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the merchant record was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the merchant record was last updated.
    Event:
      type: object
      properties:
        _id:
          type: string
          description: Event ID.
        eventType:
          type: string
          description: "[Event type](/events/events-overview)."
        createdAt:
          type: string
          description: ISO timestamp of event creation.
        eventData:
          type: object<Event>
          description: "Event data, of type [event object](/api-reference/events)"
        deliveryStatus: 
          type: string
          enum:
            - DELIVERY_ATTEMPTED
            - DELIVERED
            - FAILED
            - AWAITING_DELIVERY
          description: Delivery status for webhook notification.
        destination:
          type: string
          description: Merchant URL webhook notification is delivered to.
        customerId:
          type: string
          description: ID of customer event was created for.
        customerType:
          type: string
          enum:
            - merchants
            - customer
          description: Type of customer event was created for.
          default: merchants
        lastAttemptedAt:
          type: string
          description: ISO timestamp of most recent delivery attempt.
        numberOfAttempts:
          type: integer
          format: int32
          description: Count of attempted deliveries to `destination`
  securitySchemes:
    adminAuth:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <token>`, where `<token>` is the [merchant login token](/api-reference/endpoint/merchant-login).
    operationAuth:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <token>`, where `<token>` is the [transaction execution authentication token](/api-reference/endpoint/get-token-collection).
